<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Pokémon Characters</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Include custom CSS -->
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Include your custom JavaScript file -->
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div id="app">
        <h1>Pokemons Listing</h1>
        <div v-if="loading">Loading...</div>
        <div v-else>
            <div v-for="pokemon in sortedPokemons" :key="pokemon.id">
                <h2 @click="showPokemonDetails(pokemon.name)">{{ pokemon.name }}</h2>
                <div v-if="pokemon.details">
                    <img :src="pokemon.details.sprites.front_default" width="100" height="100">
                    <p>Weight: {{ pokemon.details.weight }}</p>
                    <p>Height: {{ pokemon.details.height }}</p>
                    <p>Abilities: {{ pokemon.details.abilities }}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>